Flask==0.9
Flask-KVSession==0.3.2
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.2
Jinja2==2.6
SQLAlchemy==0.8.0b2
WTForms==1.0.3
Werkzeug==0.8.3
argparse==1.2.1
distribute==0.6.24
evernote==1.23.1
httplib2==0.7.7
itsdangerous==0.17
oauth2==1.5.211
pep8==1.4.2
psycopg2==2.4.6
pyflakes==0.6.1
simplekv==0.5
wsgiref==0.1.2
