{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="span8 offset2">
      {% if success %}
      <div class="alert alert-success">
        <strong>Success!</strong> You have a <a href="/f/{{ blog_slug }}">brand new blog!</a>
      </div>
      {% endif %}

      <h1>The Easiest Blog Platform Ever</h1>
      <p>
        <strong>SyrusFeed</strong> turns an <a href="http://evernote.com"><strong>Evernote</strong></a> notebook into a personal blog. Sign up is super easy, just log into Evernote with the button below, choose a name, and you are off!
      </p>

      <br>

      <form action="/start-auth" method="POST">
        <div class="hidden-desktop">
          <div class="btn-span">
            <input type="submit" class="btn btn-primary btn-block btn-large" value="Sign Up With Evernote">
            <br>
          </div>
        </div>
        <div class="hidden-tablet hidden-phone">
          <div class="row">
            <div class="span4 offset2">
              <input type="submit" class="btn btn-primary btn-block btn-large" value="Sign Up With Evernote">
            </div>
          </div>
        </div>
      </form>

      {{ lipsum(2) }}
    </div>
  </div>
</div>
{% endblock %}
